<!-- Employees Grid/List Section -->
<h2 class="mt-4">Employees
    <button id="toggleViewBtn" class="btn btn-outline-secondary" onclick="toggleView()" alt="Toggle View"
        title="Toggle View" type="button">
        <i id="toggleViewIcon" class="bi bi-layout-text-sidebar"></i>
    </button>
</h2>
<div class="card p-3 mb-4 shadow-sm">

    <!-- Grid View -->
    <div id="user-grid" class="row">
        {% for user in users %}
        <div class="col-md-3 col-sm-6">
            <div class="card shadow-sm mb-4">
                <div class="card-body text-center">
                    <div class="mb-3">
                        <img src="{{ get_gravatar_url(user.email) }}" alt="User Gravatar" class="rounded-circle"
                            width="80" height="80">
                    </div>
                    <h5 class="card-title mb-2">{{ user.first_name }} {{ user.last_name}}</h5>
                    <a href="{{ url_for('admin.update_schedule', user_id=user.id) }}"
                        class="btn btn-primary btn-sm w-100">
                        <i class="bi bi-calendar-check me-1"></i>Manage Schedule
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- List View -->
    <div id="user-list" class="d-none">
        <ul class="list-group shadow-sm">
            {% for user in users %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>
                    <img src="{{ get_gravatar_url(user.email) }}" alt="User Gravatar" class="rounded-circle"
                        width="40" height="40">
                    {{ user.first_name }} {{ user.last_name}}
                </span>
                <a href="{{ url_for('admin.update_schedule', user_id=user.id) }}" class="btn btn-primary btn-sm">
                    <i class="bi bi-calendar-plus me-1"></i>Manage Schedule
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>