{% extends "base.html" %}
{% block title %}Add Schedule{% endblock %}
{% block content %}
<body>
    <div class="container mt-5">
        <h1 class="text-center">Manage Schedule for {{ user.first_name }} {{ user.last_name }}</h1>
        <form method="post" action="{{ url_for('admin.update_schedule', user_id=user.id) }}" class="mt-4">
            {{ forms['Monday'].csrf_token }}

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Virtual</th>
                            <th>Unavailable</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for day, form in forms.items() %}
                        <tr>
                            <td>
                                {{ form.day_of_week(value=day) }}
                                {{ day }}
                            </td>
                            <td>{{ form.start_time(class_="form-control") }}</td>
                            <td>{{ form.end_time(class_="form-control") }}</td>
                            <td>{{ form.is_virtual(class_="form-check-input") }}</td>
                            <td>{{ form.is_unavailable(class_="form-check-input") }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <button type="submit" class="btn btn-success w-100">Save Schedule</button>
        </form>
        <a href="{{ url_for('admin.admin_dashboard') }}" class="btn btn-secondary w-100 mt-3">Back to Dashboard</a>
    </div>
</body>
{% endblock %}