{% extends 'base.html' %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}

<body>
    <div class="container mt-5">
        <h1 class="text-center">Admin Dashboard</h1>

        {% include 'admin_dashboard-time_off.html' %}

        {% include 'admin_dashboard-list_users.html' %}

        {% include 'admin_dashboard-schedule_overview.html' %}

    </div>
</body>

<script>
    function toggleView() {
        const grid = document.getElementById("user-grid");
        const list = document.getElementById("user-list");

        if (grid.classList.contains("d-none")) {
            grid.classList.remove("d-none");
            list.classList.add("d-none");
        } else {
            grid.classList.add("d-none");
            list.classList.remove("d-none");
        }
    }
</script>
{% endblock %}