{% extends 'base.html' %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}

{% if is_mobile %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        toggleView();
    });
</script>
{% endif %}

<body>
    <div class="container mt-5">
        <h1 class="text-center">Admin Dashboard</h1>

        {% include 'admin_dashboard-time_off.html' %}

        {% include 'admin_dashboard-list_users.html' %}

        {% include 'admin_dashboard-schedule_overview.html' %}

    </div>
</body>

<script>
    function toggleView() {
        const grid = document.getElementById("user-grid");
        const list = document.getElementById("user-list");
        const icon = document.getElementById("toggleViewIcon");

        if (grid.classList.contains("d-none")) {
            grid.classList.remove("d-none");
            list.classList.add("d-none");
            icon.classList.replace("bi-grid", "bi-layout-text-sidebar");

        } else {
            grid.classList.add("d-none");
            list.classList.remove("d-none");
            icon.classList.replace("bi-layout-text-sidebar", "bi-grid");
        }
    }
</script>
{% endblock %}